.MapContainer{
  position: relative;
  width: 5000px;
  height: 5000px;
  transform: scale(0.134665);
  transform-origin: top left;
  cursor: url("../../resources/myCursor.png"), auto;
  background-image: url("../../resources/Galaxy740.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
}
.MapContainer canvas{
  position: absolute;
  transition: opacity 0.5s;
}
.MapContainer canvas:first-of-type{
  background-image: url("../../resources/grid3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
}