.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-Untitled-1 {
    width: 126px;
    height: 16px;
    background-position: 0 0;
}
