@font-face {
    font-family: Babes;
    src: url(../fonts/BebasNeue Regular.otf) format("opentype");
}
body {
    background-color: rgba(14,14,14,1);
    color: #e0e0e0;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Source Sans Pro', sans-serif;
}
h1{
  margin: 0;
}
html, body{
  height: 100%;
}
#Wrapper{
  display: flex;
  height: 100%;
  width: 100%;

}
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  padding-right: 22px;
  stroke-width: 0;
  stroke: #e0e0e0;
  fill: #e0e0e0;
}
@media (max-width: 600px) {
  #SideBar{
    width:5px !important;
  }
  #SideBar ul{
    display: none !important;
  }
  #MyUserName{
    display: none !important;
  }
  #OpenMenu{
    display: block !important;
  }
  #SideBar.OpenMenu{
    width: 220px !important;
  }
  #SideBar ul.OpenMenu{
    display: block !important;
  }
  #MyUserName.OpenMenu{
    display: block !important;
  }
  #OpenMenu.OpenMenu{
    margin-left: 220px !important;
    margin-top: -5px !important;
  }
}
#SideBar {
  -webkit-transition: width 0.5s;
  -o-transition: width 0.5s;
  transition: width 0.5s;
  font-family: 'Babes', monospace;
  background-color: rgba(14,14,14,1);
  left: 0;
  top: 0;
  width: 220px;
  font-size: 140%;
}
#SideBar ul{
  list-style: none;
  padding-left: 0;
  margin: 0;
}
#SideBar li{
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  height: auto;
  opacity: 1;
  padding-bottom: 5px;
  cursor: pointer;
  max-height: 100px;
  display: flex;
  transition: opacity 1s, max-height 1s, padding-top 1s, padding-bottom 1s;
}

#SideBar li.Move{
opacity: 0;
}
#SideBar li:hover{
  background-color: rgba(49,86,131,0.7);
}
#SideBar li.Active{
  background-color: rgba(49,86,131,1);
}
#SideBar li.Disabled{
  color: rgb(80, 80, 80);
  cursor: default;
  pointer-events: none;
  display: none;
}
#SideBar li.Disabled svg.icon{
  fill: rgb(80, 80, 80);
}
#SideBar li.AnimateLi{
  max-height: 0;
  opacity: 0;
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;
}
#SideBar li.SubLi{
  padding-left: 30px;
}
#OpenMenu{
  -webkit-transition: margin-left 0.5s, margin-top 0.5s;
  -o-transition: margin-left 0.5s, margin-top 0.5s;
  transition: margin-left 0.5s, margin-top 0.5s;
  display: none;
  margin-left: 6px;
  margin-top: 71px;
  background: #989090;
  width: 26px;
  color: black;
  height: 25px;
  padding: 8px;
  border-radius: 0 0 12px 0;
}
#Main {
  overflow-x: auto;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  flex: 1;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+1,0e0e0e+68&0+0,1+69 */
background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%,rgba(255, 255, 255, 0.17) 1%,rgba(14, 14, 14, 0.99) 68%,rgba(14, 14, 14, 1) 69%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%,rgba(255, 255, 255, 0.17) 1%,rgba(14, 14, 14, 0.99) 68%,rgba(14, 14, 14, 1) 69%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%,rgba(255, 255, 255, 0.17) 1%,rgba(14, 14, 14, 0.99) 68%,rgba(14, 14, 14, 1) 69%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
}
#Main #Top{
  background-color: #315683;
  font-size: 110%;
  padding: 10px;
  width: calc(100% + 15px);
  padding-left: 75px;
  align-items: center;
  margin-left: -50px;
  position: relative;
  display: flex;
  justify-content: space-between;
  max-height: 50px;
  overflow: hidden;
}
#Main #Top span.Title{
  font-size: 150%;
  font-weight: bold;
  text-align: left;
  padding-right: 50px;
  display: inline-flex;
}
#Main #Top span.Time{
  text-align: right;
  padding-right: 50px;
  display: inline-flex;
  max-height: 50px;
}
#MyUserName{
  font-size: 75%;
  padding-bottom: 50px;
  padding-top:  5px;
  padding-left:  5px;
}
#MyUserName span{
  font-weight: bold;
  color: rgb(191, 0, 0);
}
#Notifications{
  font-size: 15px;
}
#Loading{
  margin-left: 220px;
  width: 200px;
  display: none;
  position: absolute;
}
.container.small{
  width: 50px;
  margin-bottom: -19px;
  display: inline-block;
}
.container{
  width: 30%;
  margin: 0 auto;
  position: relative;
}
@element '.container'{
  $this{
   height: 100ew;
  }
}
.center{
  position: absolute;
  left: 50%;
  top: 50%;
  height: 8%;
  width: 8%;
  background-color: #ccc;
  border-radius: 50%;
}
@element '.container'{
  $this .circle.One{
    border-left: 1.67ew solid #c6ddde;
    border-top: 1.67ew solid #c6ddde;
    border-right: 1.67ew solid #c6ddde;
    border-bottom: 1.67ew solid transparent;
  }
  $this .circle.Two{
    border-left: 5.01ew solid rgba(93, 197, 247,0.3);
    border-bottom: 5.01ew solid  rgba(93, 197, 247,0.3);
    border-right: 5.01ew solid  rgba(93, 197, 247,00.3);
    border-top: 5.01ew solid transparent;
  }
  $this .circle.Three{
    border-left: 1.67ew solid rgba(93, 197, 247,0.8);
    border-bottom: 1.67ew solid rgba(93, 197, 247,0.8);
    border-right: 1.67ew solid rgba(93, 197, 247,0.8);
    border-top: 1.67ew solid transparent;
  }
  $this .circle.Four{
    border-left: 1.67ew solid rgba(93, 197, 247,0.8);
    border-bottom: 1.67ew solid rgba(93, 197, 247,0.8);
    border-right: 1.67ew solid rgba(93, 197, 247,0.8);
    border-top: 1.67ew solid transparent;
  }
  $this .Expand{
    border: 0.36ew solid rgba(93, 197, 247,0.5);
  }
}
.circle{
  position: absolute;
  border-radius: 50%;
}
.circle.One{
  height: 500%;
  width: 500%;
  left: -220%;
  top: -220%;
  animation: Rotate 2s infinite linear
}

.circle.Two{
  height: 460%;
  width: 460%;
  left: -239%;
  top: -239%;
  animation: Rotate2 2s infinite linear
}
.circle.Three{
    height: 460%;
    width: 460%;
    left: -200%;
    top: -200%;
    animation: Rotate2 2s infinite linear;
}
.circle.Four{
    height: 540%;
    width: 540%;
    left: -240%;
    top: -240%;
    animation: Rotate2 2s infinite linear;
}
.Expand{
  position: absolute;
  border-radius: 50%;
  animation: Expand 1s infinite linear;
  left: -200%;
  top: -200%;
  height: 500%;
  width: 500%;
}
.Expand.Two{
  animation: Expand 1s 100ms infinite linear;
}
.Expand.Three{
  animation: Expand 1s 200ms infinite linear;
}
@keyframes Rotate{
  from{
    transform: rotate(0);
  }
  to{
    transform: rotate(360deg)
  }
}
@keyframes Rotate2{
  from{
    transform: rotate(360deg);
  }
  to{
    transform: rotate(0)
  }
}
@keyframes Expand{
  0%{
    transform: scale(1);
    opacity: 1;
  }
  25%{
    opacity: 1;
  }
  50%, 100%{
    transform: scale(2);
    opacity: 0;
  }
}
